@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

#panelNav {
  background-image: linear-gradient(to left,  #5acfad ,  #5ac8cf  );
}

#tituloMenuDesplegable{
  font-family: 'Abel', sans-serif;
}

#itemsNavBar{
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  text-decoration: none;
  color: white;
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  background-image: linear-gradient(to left,white, white);
  transition: background-size .3s;
}

#itemsNavBar:hover{
  background-size: 100% 2px;
}

#itemsBarraDesplegable{
  font-family: 'Montserrat', sans-serif;
}

#itemAccordation{
  background-color: white ;
  font-family: 'Montserrat', sans-serif;
}
