@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');

#panelBasePresentacion{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 480px;
  margin: 0 auto;
  margin-top: 10px;
  color: white;
}

#panelBaseNombre{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40%;
  height: 100%;
}

#panelBaseNombre h1{
  font-size: 45px;
  margin-left: 40px;
  font-family: 'Joan', serif;
}

#panelBaseNombre p{
  font-size: 18px;
  text-align: justify;
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 80px;
  font-family: 'Joan', serif;
}

#panelBaseNombre button{
  align-self: flex-start;
  text-align: center;
  width: 150px;
  height: 50px;
  margin-top: 70px;
  margin-left: 40px;
  border-color: black;
  background: transparent;
  border: 3px solid white;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  transition-property: background-color color;
  transition-duration: 0.5s;
}

#panelBaseNombre button:hover{
  background-color: white;
  cursor: pointer;
  color: black;
}

#panelBaseImagen{
  display: flex;
  justify-content: center;
  margin-left: 200px;
  align-items: center;
  width: 60%;
  height: 100%;
}
