@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
#panelBaseTCarreras{
  width: 100%;
  display: flex;
  padding-top: 25px;
  flex-direction: column;
  background-color: #373433 ;
  justify-content: center;
  align-items: center;
  height: 1200px;
  margin: 0 auto;
  margin-top: 60px;
  padding-top: 30px;
  padding-bottom: 30px;
}

#panelBaseCarrerasHorizontal{
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

#panelCarrera{
  width: 50%;
  background-color: #423f3d  ;
  height: 280px;
  margin: 7px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 0px solid black;
  transition-property: box-shadow;
  transition-duration: 0.5s;
  border-radius: 10px;
}

#panelCarrera:hover{
  box-shadow: 4px 4px 1px #5acfad;
}

#panelCarrera p{
  color: white;
  margin-top: 20px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  margin-left: 20px;
  margin-right: 20px;
}

#panelImgCarrera{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-position: center;
  height: 100%;
  border-radius: 10px 0px 0px 10px;
}

#panelDescripcionCarrera{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

#panelDescripcionCarrera h1{
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  margin-top: 50px;
  width: 80%;
}

#botonVerCarreras{
  text-align: center;
  width: 150px;
  height: 50px;
  background: transparent;
  border: 3px solid white;
  margin-bottom: 50px;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  transition-property: background-color color;
  transition-duration: 0.5s;
}

#botonVerCarreras:hover{
  background-color: white;
  cursor: pointer;
  color: black;
}

#panelRedesSociales{
  width: 50%;
  height: 90%;
  margin: 7px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 0px solid black;
}

#tituloItem{
  display: flex;
  align-self: center;
  font-weight: bold;
  text-align: center;
  color:white;
  font-size: 23px;
  font-family: 'Open Sans', sans-serif;
}

#itemRedesSociales{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

#itemRedesSociales ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 30%;
  padding: 5px;
  list-style-type: none;
}

#iconoFacebook{
  text-align: center;
  width: 70px;
  height: 70px;
  background: transparent;
  border: 0px solid white;
  border-radius: 5px;
  color: white;
  background-image: url("../img/iconos/icono-facebook.png");
  background-repeat: no-repeat;
  background-position: center;
  transition-property: transform,filter;
  transition-duration: .4s;
}

#iconoFacebook:hover{
  cursor: pointer;
  transform: scale(0.8);
  background-image:url("../img/iconos/icono-facebook-hover.png");
}

#iconoTwitter{
  text-align: center;
  width: 70px;
  height: 70px;
  background: transparent;
  border: 0px solid white;
  border-radius: 5px;
  color: white;
  background-image: url("../img/iconos/icono-instagram.png");
  background-repeat: no-repeat;
  background-position: center;
  transition-property: transform,filter;
  transition-duration: .4s;
}

#iconoTwitter:hover{
  cursor: pointer;
  transform: scale(0.8);
  background-image: url("../img/iconos/icono-instagram-hover.png");
}

#iconoGmail{
  text-align: center;
  width: 70px;
  height: 70px;
  background: transparent;
  border: 0px solid white;
  border-radius: 5px;
  color: white;
  background-image: url("../img/iconos/icono-gmail.png");
  background-repeat: no-repeat;
  background-position: center;
  transition-property: transform,filter;
  transition-duration: .4s;
}

#iconoGmail:hover{
  cursor: pointer;
  transform: scale(0.8);
  background-image: url("../img/iconos/icono-gmail-hover.png");
}

#botonVerRedeSociales{
  text-align: center;
  width: 70px;
  height: 70px;
  background: transparent;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
}
