@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
*{
  margin:0;
  padding: 0;
}

body {
  background-image: linear-gradient(to left,  #5acfad ,  #5ac8cf  );
}

#menuPrincipal{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 10px;
  margin:0 auto;
  margin-top: 30px;
  list-style-type: none;
}

#logo {
  width: 300px;
  height: 60px;
  margin-left: 20px;
}

li{
  display: inline-flex;
  color: white;
  margin: 10px;
}
#menu{
  float: right;
  margin-right: 20px;
}

#menu ul li a{
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  text-decoration: none;
  color: white;

  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  background-image: linear-gradient(to left,white, white);

  transition: background-size .3s;
}

#menu ul li a:hover{
  background-size: 100% 2px;
}

#accesoCampus{
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  padding: 10px 15px 10px 15px;
  background: transparent;
  color: black;
  border-color: black;
  background: transparent;
  border: 3px solid black;
  border-radius: 5px;
  transition-property: background-color color;
  transition-duration: 0.5s;
}

#accesoCampus:hover{
  background-color: black;
  color: white;
  cursor:pointer;
}
